<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
</head>

<body>
    <header class="container-fluid hidden" ng-controller="myCtrl">
        <div class="row">
            <div class="d-flex justify-content-end text-bg-dark" ng-model="myVar">
                <div class="p-1"><a class="btn btn-dark" href=""><i class="fa-sharp fa-solid"></i> Connect Wallet</a></div>

                <div class="p-1" ng-show="!isLogin"><a class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#myModal"><i class="fa-sharp fa-solid fa-user"></i>Register</a></div>
                <div class="p-1" ng-show="!isLogin"><a class="btn btn-dark" href="#!Login"><i class="fa-sharp fa-solid fa-user"></i> Login</a></div>
                <div class="p-1" ng-show="isLogin"><a class="btn btn-dark"><i class="fa-sharp fa-solid fa-user"></i> Welcome {{ info.name }} to my website!</a></div>
                <div class="p-1"><a class="btn btn-dark" href="#!Cart"><i class="fa-sharp fa-solid fa-cart-shopping"></i> Cart</a></div>
            </div>
        </div>


    </header>
    <nav class="navbar navbar-expand-sm bg-white navbar-light sticky-top">
        <div class="container-fluid">

            <a class="navbar-brand col-md-4" href="test.html"><img src="./Image/OUG/logo.jpg" height="100" width="100" alt=""></a>

            <div class="collapse navbar-collapse col-md-7" id="mynavbar">
                <ul class="navbar-nav  d-flex justify-content-between  w3-row-padding">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"><b>Explore</b></a>
                        <ul class="dropdown-menu animate__animated animate__flipInX">
                            <li><a class="dropdown-item animate__animated animate__pulse" href="#">Connection</a></li>
                            <li><a class="dropdown-item animate__animated animate__pulse" href="#">NFTs</a></li>
                            <li><a class="dropdown-item animate__animated animate__pulse" href="#">Users</a></li>
                            <li><a class="dropdown-item animate__animated animate__pulse" href="#">Marketplaces</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"><b>Create</b></a>
                        <ul class="dropdown-menu animate__animated animate__flipInX">
                            <li><a class="dropdown-item animate__animated animate__pulse" href="#">NFT</a></li>
                            <li><a class="dropdown-item animate__animated animate__pulse" href="#">Drops</a></li>
                            <li><a class="dropdown-item animate__animated animate__pulse" href="#">Connection</a></li>
                            <li><a class="dropdown-item animate__animated animate__pulse" href="#">Marketplaces</a></li>
                            <li><a class="dropdown-item animate__animated animate__pulse" href="#">NFT apps</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)"><b>Sell</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)"><b>Drops</b></a>
                    </li>

                </ul>

                <form class="d-flex ms-auto">
                    <input class="form-control me-2" type="text" placeholder="Search">
                    <button class="btn btn-custom btn-custom-orange rounded" type="button">Search</button>
                </form>

            </div>



            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
        </div>
    </nav>
    <!-- The Modal -->
    <div class="modal" id="myModal" ng-controller="myCtrl">
        <div class="modal-dialog">
            <div class="modal-content">


                <div class="modal-header">
                    <h1 class="modal-title">Register Form</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>


                <div class="modal-body">

                    <div class="login-form border border-2 rounded-3  px-3 py-3  " ng-app="myApp" style="background-color: #f3f3f3;">

                        <form action="" name="myForm" ng-controller="myCtrl">
                            <div class="form-group mb-3">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" name="myName" ng-model="myName" id="name" required>

                                <span style="color:red" ng-show="myForm.myName.$dirty  && myForm.myName.$invalid)">
                           
                            <span ng-show="myForm.myName.$error.required">name is required.</span>

                                </span>
                            </div>

                            <div class="form-group mb-3">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" name="username" ng-model="username" id="username" required>

                                <span style="color:red" ng-show="myForm.username.$dirty && myForm.username.$invalid">
                            <span ng-show="myForm.username.$error.required">username is required.</span>

                                </span>
                            </div>

                            <div class="form-group mb-3">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" name="password" ng-model="password" id="password" required>
                                <span style="color:red" ng-show="myForm.password.$untouched &&  myForm.password.$dirty && myForm.password.$invalid">
                            <span ng-show="myForm.password.$error.required">password is required.</span>
                                </span>
                            </div>

                            <div class="form-group mb-3">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" ng-minlength="3" name="email" ng-model="email" id="email" required>
                                <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
                            <span ng-show="myForm.email.$error.required">Email is required.</span>
                                <span ng-show="myForm.email.$error.email">Invalid email address.</span>
                                </span>
                            </div>

                            <div class="form-group mb-3">
                                <label for="gender">Gender</label>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <input type="radio" name="gender" class="form-check-input" id="male" value="male" checked>
                                        <label for="male" class="form-check-label">Male</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input type="radio" name="gender" class="form-check-input" id="female" value="female">
                                        <label for="female" class="form-check-label">Female</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group mb-3">
                                <label for="address">Address</label>
                                <input type="address" class="form-control" ng-minlength="3" name="address" ng-model="address" id="address" required>
                                <span style="color:red" ng-show="myForm.address.$dirty && myForm.address.$invalid">
                            <span ng-show="myForm.address.$error.required">address is required.</span>
                                </span>
                            </div>

                            <button type="submit" name="btn-login" class="btn btn-primary w-100" ng-click="register()" ng-disabled=" myForm.username.$untouched && myForm.username.$invalid ||
                      myForm.email.$untouched && myForm.email.$invalid ||
                      myForm.password.$untouched && myForm.password.$invalid || 
                      myForm.myName.$untouched && myForm.myName.$invalid ||
                      myForm.address.$untouched && myForm.address.$invalid">Register</button>
                        </form>
                    </div>

                </div>



            </div>
        </div>
    </div>

    <!-- ************************************************************* -->
    <div class="container">

        <div class="row mt-5">
            <div class="col-8">
                <img src="Image/OUG/tranh 1.jfif" alt="">

                <ul class="nav nav-tabs mt-4">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Properties</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Bids</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Activity</a>
                    </li>
                </ul>

                <div class="mt-3">
                    <h3>Bids</h3>
                    <span>No bids yet. Be the first to place a bid!</span>
                </div>

                <div class="mt-4">
                    <h3>Royalties</h3>
                    <span>Split royalties are automatically deposited into each recipient's wallet</span>
                </div>

                <div class="card mt-4 rounded-pistartll" style="width: auto;">
                    <div class="card-body">
                        <img class="rounded-circle" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iNDBweCIgaGVpZ2h0PSI0MHB4IiB2aWV3Qm94PSIwIDAgODAgODAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgPGRlZnM+CiAgICA8bGluZWFyR3JhZGllbnQgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSIgaWQ9Ijc3OTAzNzQ0ODY0MiI+CiAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYigyNTUsIDExNSwgMCkiIG9mZnNldD0iMCUiPjwvc3RvcD4KICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiKDAsIDI1NSwgMTE1KSIgb2Zmc2V0PSIxMDAlIj48L3N0b3A+CiAgICA8L2xpbmVhckdyYWRpZW50PgogIDwvZGVmcz4KICA8ZyBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgIDxyZWN0IGlkPSJSZWN0YW5nbGUiIGZpbGw9InVybCgjNzc5MDM3NDQ4NjQyKSIgeD0iMCIgeT0iMCIgd2lkdGg9IjgwIiBoZWlnaHQ9IjgwIj48L3JlY3Q+CiAgPC9nPgo8L3N2Zz4="
                            alt=""> kjaowijnkn.....jioef

                        <!-- <p class="card-text text-center mt-2">Last sale price 29.99 ETH</p>
                  <button class="btn btn-light" style="width: 23rem;">Place a bid</button> -->
                    </div>
                </div>

                <div class="mt-4">
                    <h3>Details</h3>
                </div>

                <div class="card mt-4 rounded-pistartll" style="width: auto;">
                    <div class="card-body">
                        <!-- <h5 class="card-title">Card title</h5> -->
                        <h6 class="card-subtitle mb-2 text-muted">Ethereum (ERC-721)</h6>
                        <h6 class="card-subtitle mb-2 text-muted">View on Ethersan</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Open original</h6>
                        <hr>
                        <h6 class="card-subtitle mb-2 text-muted">Refresh Metadata</h6>
                    </div>

                </div>
            </div>

            <!-- ************************************************************* -->
            <div class="col-4">
                <span>Bored Ape Yatch Club</span>
                <h2>BoredApeYachtClub #4312</h2>
                <span>Royalties</span>

                <div class="mt-4 mb-5">
                    <img class="rounded-circle" style="width: 45px;" src="https://assets.raribleuserdata.com/prod/v1/image/t_avatar_big/aHR0cHM6Ly9pcGZzLmlvL2lwZnMvUW1hUkNra0U5dmFGN3NlRlNVREJrSjJMU2tMTG95TW9QMkY4cXQ1NHVyUFZRNg==" alt="">
                    <span>   Neon Bear</span>
                    <img class="rounded-circle" style="width: 45px; margin-left: 65px;" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iNDBweCIgaGVpZ2h0PSI0MHB4IiB2aWV3Qm94PSIwIDAgODAgODAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgPGRlZnM+CiAgICA8bGluZWFyR3JhZGllbnQgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSIgaWQ9IjEyNTg5MDgxMzkyNDciPgogICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2IoMTQ1LCAyNTUsIDApIiBvZmZzZXQ9IjAlIj48L3N0b3A+CiAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYigwLCAxNDUsIDI1NSkiIG9mZnNldD0iMTAwJSI+PC9zdG9wPgogICAgPC9saW5lYXJHcmFkaWVudD4KICA8L2RlZnM+CiAgPGcgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICA8cmVjdCBpZD0iUmVjdGFuZ2xlIiBmaWxsPSJ1cmwoIzEyNTg5MDgxMzkyNDcpIiB4PSIwIiB5PSIwIiB3aWR0aD0iODAiIGhlaWdodD0iODAiPjwvcmVjdD4KICA8L2c+Cjwvc3ZnPg=="
                        alt="">
                    <span>Current owner</span>
                </div>

                <div class="">
                    <i class="fa-regular fa-heart px-4"> <span class="p-1">2</span></i>
                    <i class="fa-solid fa-arrow-up-from-bracket px-4"><span class="p-1">Share</span></i>
                    <i class="fa-solid fa-arrows-rotate"><span class="p-1">Refresh</span></i>
                </div>
                <hr>
                <div class="card mt-5 rounded-pistartll" style="width: 25rem;">
                    <div class="card-body" ">
                  
                  <div class="card bg-secondary ">
                    <span class="p-2 ">Price</span>
                    <h5 class="card-title px-2 ">Not for sale</h5>
                    
                    
                  </div>
                  <div class="d-flex flex-wrap align-content-center justify-content-between ">
                    <a href="# " class="btn btn-custom btn-custom-orange col-md-4 rounded d-flex justify-content-center flex-column align-items-center px-4 py-2 mb-2 " style="width: 65%; ">Purchase</a>
                    <h3><span class="badge bg-dark ">0.1 SOL</span></h3>
                </div>
                </div>
              </div>
          </div>
        </div>

        
      </div>

      <div class="text-center mt-5 ">
      <h3>More from this collection</h3>
      </div>

      
      <div class="row ">
        <div class="col-sm-3 " >
            <div class="card ">
              <div class="card-body ">
                  <img src="https://assets.raribleuserdata.com/prod/v1/image/t_image_preview/aHR0cHM6Ly9pcGZzLnJhcmlibGV1c2VyZGF0YS5jb20vaXBmcy9RbWNGUG1aU2JWUk5SS3dIUlROUFZ2TDJtM29kOWk2dVZHaGF6ZTRSTmJVeUMx " class="card-img-top " alt=" ">
              </div>
            </div>
          </div>
        <div class="col-sm-3 " >
          <div class="card ">
            <div class="card-body ">
                <img src="https://assets.raribleuserdata.com/prod/v1/image/t_image_preview/aHR0cHM6Ly9pcGZzLnJhcmlibGV1c2VyZGF0YS5jb20vaXBmcy9RbWNGUG1aU2JWUk5SS3dIUlROUFZ2TDJtM29kOWk2dVZHaGF6ZTRSTmJVeUMx " class="card-img-top " alt=" ">
              
              </div>
          </div>
        </div>
        <div class="col-sm-3 " >
            <div class="card ">
              <div class="card-body ">
                  <img src="https://assets.raribleuserdata.com/prod/v1/image/t_image_preview/aHR0cHM6Ly9pcGZzLnJhcmlibGV1c2VyZGF0YS5jb20vaXBmcy9RbWNGUG1aU2JWUk5SS3dIUlROUFZ2TDJtM29kOWk2dVZHaGF6ZTRSTmJVeUMx " class="card-img-top " alt=" ">
                  
                  <h6 class="card-subtitle mb-2 text-muted mt-2 ">Bored Ape Yatch Club</h6>
                  <h6 class="card-subtitle mb-2 text-muted ">BoredApeYatchClub #12344</h6>
                  <div class="card bg-secondary ">
                    <span class="p-2 ">Price</span>
                    <h6 class="px-2 ">0.1 SOL</h6>
                    
                    
                  </div>
                </div>
            </div>
          </div>
          <div class="col-sm-3 " >
            <div class="card ">
              <div class="card-body ">
                  <img src="https://assets.raribleuserdata.com/prod/v1/image/t_image_preview/aHR0cHM6Ly9pcGZzLnJhcmlibGV1c2VyZGF0YS5jb20vaXBmcy9RbWNGUG1aU2JWUk5SS3dIUlROUFZ2TDJtM29kOWk2dVZHaGF6ZTRSTmJVeUMx " class="card-img-top " alt=" ">
                  <h6 class="card-subtitle mb-2 text-muted mt-2 ">Bored Ape Yatch Club</h6>
                  <h6 class="card-subtitle mb-2 text-muted ">BoredApeYatchClub #12344</h6>
                  <div class="card bg-secondary ">
                    <span class="p-2 ">Price</span>
                    <h6 class="px-2 ">0.1 SOL</h6>
                </div>
            </div>
          </div>
          
      </div>


    </div>
</body>
</html>