<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="font/fontawesome-free-6.2.1-web/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>

<body style="background-color:rgb(25, 28, 31); margin: 0; padding: 25px; font-family: sans-serif;">
    <header class="container-fluid hidden" ng-controller="myCtrl">
        <div class="row">
            <div class="d-flex justify-content-end text-bg-dark" ng-model="myVar">
                <div class="p-1"><a class="btn btn-dark" href=""><i class="fa-sharp fa-solid"></i> Connect Wallet</a></div>

                <div class="p-1" ng-show="!isLogin"><a class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#myModal"><i class="fa-sharp fa-solid fa-user"></i>Register</a></div>
                <div class="p-1" ng-show="!isLogin"><a class="btn btn-dark" href="#!Login"><i class="fa-sharp fa-solid fa-user"></i> Login</a></div>
                <div class="p-1" ng-show="isLogin"><a class="btn btn-dark"><i class="fa-sharp fa-solid fa-user"></i> Welcome {{ info.name }} to my website!</a></div>
                <div class="p-1"><a class="btn btn-dark" href="#!Cart"><i class="fa-sharp fa-solid fa-cart-shopping"></i> Cart</a></div>
            </div>
        </div>


    </header>
    <nav class="navbar navbar-expand-sm bg-white navbar-light sticky-top">
        <div class="container-fluid">

            <a class="navbar-brand col-md-4" href="test.html"><img src="./Image/OUG/logo.jpg" height="100" width="100" alt=""></a>

            <div class="collapse navbar-collapse col-md-7" id="mynavbar">
                <ul class="navbar-nav  d-flex justify-content-between  w3-row-padding">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"><b>Explore</b></a>
                        <ul class="dropdown-menu animate__animated animate__flipInX">
                            <li><a class="dropdown-item animate__animated animate__pulse" href="#">Connection</a></li>
                            <li><a class="dropdown-item animate__animated animate__pulse" href="#">NFTs</a></li>
                            <li><a class="dropdown-item animate__animated animate__pulse" href="#">Users</a></li>
                            <li><a class="dropdown-item animate__animated animate__pulse" href="#">Marketplaces</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"><b>Create</b></a>
                        <ul class="dropdown-menu animate__animated animate__flipInX">
                            <li><a class="dropdown-item animate__animated animate__pulse" href="#">NFT</a></li>
                            <li><a class="dropdown-item animate__animated animate__pulse" href="#">Drops</a></li>
                            <li><a class="dropdown-item animate__animated animate__pulse" href="#">Connection</a></li>
                            <li><a class="dropdown-item animate__animated animate__pulse" href="#">Marketplaces</a></li>
                            <li><a class="dropdown-item animate__animated animate__pulse" href="#">NFT apps</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)"><b>Sell</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)"><b>Drops</b></a>
                    </li>

                </ul>

                <form class="d-flex ms-auto">
                    <input class="form-control me-2" type="text" placeholder="Search">
                    <button class="btn btn-custom btn-custom-orange rounded" type="button">Search</button>
                </form>

            </div>



            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
        </div>
    </nav>
    <!-- The Modal -->
    <div class="modal" id="myModal" ng-controller="myCtrl">
        <div class="modal-dialog">
            <div class="modal-content">


                <div class="modal-header">
                    <h1 class="modal-title">Register Form</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>


                <div class="modal-body">

                    <div class="login-form border border-2 rounded-3  px-3 py-3  " ng-app="myApp" style="background-color: #f3f3f3;">

                        <form action="" name="myForm" ng-controller="myCtrl">
                            <div class="form-group mb-3">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" name="myName" ng-model="myName" id="name" required>

                                <span style="color:red" ng-show="myForm.myName.$dirty  && myForm.myName.$invalid)">
                           
                            <span ng-show="myForm.myName.$error.required">name is required.</span>

                                </span>
                            </div>

                            <div class="form-group mb-3">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" name="username" ng-model="username" id="username" required>

                                <span style="color:red" ng-show="myForm.username.$dirty && myForm.username.$invalid">
                            <span ng-show="myForm.username.$error.required">username is required.</span>

                                </span>
                            </div>

                            <div class="form-group mb-3">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" name="password" ng-model="password" id="password" required>
                                <span style="color:red" ng-show="myForm.password.$untouched &&  myForm.password.$dirty && myForm.password.$invalid">
                            <span ng-show="myForm.password.$error.required">password is required.</span>
                                </span>
                            </div>

                            <div class="form-group mb-3">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" ng-minlength="3" name="email" ng-model="email" id="email" required>
                                <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
                            <span ng-show="myForm.email.$error.required">Email is required.</span>
                                <span ng-show="myForm.email.$error.email">Invalid email address.</span>
                                </span>
                            </div>

                            <div class="form-group mb-3">
                                <label for="gender">Gender</label>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <input type="radio" name="gender" class="form-check-input" id="male" value="male" checked>
                                        <label for="male" class="form-check-label">Male</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input type="radio" name="gender" class="form-check-input" id="female" value="female">
                                        <label for="female" class="form-check-label">Female</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group mb-3">
                                <label for="address">Address</label>
                                <input type="address" class="form-control" ng-minlength="3" name="address" ng-model="address" id="address" required>
                                <span style="color:red" ng-show="myForm.address.$dirty && myForm.address.$invalid">
                            <span ng-show="myForm.address.$error.required">address is required.</span>
                                </span>
                            </div>

                            <button type="submit" name="btn-login" class="btn btn-primary w-100" ng-click="register()" ng-disabled=" myForm.username.$untouched && myForm.username.$invalid ||
                      myForm.email.$untouched && myForm.email.$invalid ||
                      myForm.password.$untouched && myForm.password.$invalid || 
                      myForm.myName.$untouched && myForm.myName.$invalid ||
                      myForm.address.$untouched && myForm.address.$invalid">Register</button>
                        </form>
                    </div>

                </div>



            </div>
        </div>
    </div>
    <div class="header">
        <div class="avatar"></div>
        <div class="icon">
            <ul>
                <li><a href="#"><i class="fa-solid fa-globe"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-discord"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-twitter"></i></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>

            </ul>
        </div>
    </div>

    <div class="main">
        <div class="row">
            <div class="col-lg-9 col-md-12">
                <div class="card" style="width: 45rem; border: none;">
                    <div class="card-body" style="background-color:rgb(25, 28, 31); color: white;">
                        <h2 class="card-title" style="font-weight: bold;">Bored Ape Yacht Club</h1>
                            <h6 class="card-subtitle mb-2 ">Created by 0x00000...0000
                            </h6>
                            <p class="card-text">The Bored Ape Yacht Club is a collection of 10,000 unique Bored Ape NFTs— unique digital collectibles living on the Ethereum blockchain. Your Bored Ape doubles as your Yacht Club membership card, and grants access to members-only
                                benefits, the first of which is access to THE BATHROOM, a collaborative graffiti board. Future areas and perks can be unlocked by the community through roadmap activation. Visit www.BoredApeYachtClub.com for more details.</p>
                            <button style="padding: 10px; margin-right: 5px; border: none; border-radius: 10px; font-weight: 600; font-size: small;"><a href="#" class="card-link link">Place floor bid</a></button>
                            <button style="padding: 10px; margin-right: 5px; border: none; border-radius: 17px; background-color: #4a4a4a72; font-size: small; "><a href="#" class="card-link link2"><i class="fa-solid fa-upload"></i></a></button>
                            <button style="padding: 10px; margin-right: 5px; border: none; border-radius: 17px; background-color: #4a4a4a72; font-size: small; "><a href="#" class="card-link link2">...</a></button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12">
                <div class="card" style="width: 18rem; border: 1px solid rgba(76, 76, 76, 1); border-radius: 15px;">
                    <div class="card-body" style="background-color:rgb(25, 28, 31); color: white; ">
                        <p class="card-text text-left">Floor</p>
                        <p class="text-right">0.1 SOL</p>
                        <p class="card-text text-left">Volume</p>
                        <p class="text-right">0.1 SOL</p>
                        <p class="card-text text-left">Items </p>
                        <p class="text-right">10K</p>
                        <p class="card-text text-left">Owners</p>
                        <p class="text-right">5.8K</p>
                        <p class="card-text text-left">Blockchain </p>
                        <p class="text-right">Ethereum</p>
                        <p class="card-text text-left">Address </p>
                        <p class="text-right">0xbc4...f13d</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="navbar1 sticky-top">
        <nav class="navbar navbar-expand-lg sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 px-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#" style="color: white;"><i class="fa-solid fa-star"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="color: white;">Đăng kí</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="color: white;">Đăng nhập</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
                  Dropdown
                </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>

                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>

    <div class="main2">
        <div class="row">
            <div class="col-lg-3 ">
                <nav id="navbar-example2" style="padding-top:0px ;" class="navbar navbar-expand-lg sticky-top">
                    <div class="container-fluid" style="background-color:rgb(25, 28, 31);">
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <div class="card" style="width: 22rem; background-color:rgb(25, 28, 31);">
                                <div class="card-body">
                                    <h5 class="card-title" style="font-weight: bold; color: white;">Status</h5>
                                    <button style="padding: 10px; margin-right: 5px; margin-bottom: 5px; border: none; border-radius: 10px; font-weight: 600; font-size: small;"><a href="#" class="card-link link">All</a></button>
                                    <button style="padding: 10px; margin-right: 5px; margin-bottom: 5px; border: none; border-radius: 10px; font-weight: 600; font-size: small;"><a href="#" class="card-link link">Buy now</a></button>
                                    <button style="padding: 10px; margin-right: 5px; margin-bottom: 5px; border: none; border-radius: 10px; font-weight: 600; font-size: small;"><a href="#" class="card-link link">Live auction</a></button>
                                    <button style="padding: 10px; margin-right: 5px; margin-bottom: 5px; border: none; border-radius: 10px; font-weight: 600; font-size: small;"><a href="#" class="card-link link">Not for sale</a></button>
                                </div>
                                <hr>
                                <div class="card-body">
                                    <h5 class="card-title" style="font-weight: bold; color: white;">Price</h5>
                                    <input class="input-text" type="number" placeholder="Min">
                                    <span>to</span>
                                    <input class="input-text" type="number" placeholder="Max">

                                    <li class="nav-item dropdown" style="background-color: #333; width: 80px; float: right; list-style: none; padding: 12px; border: none; border-radius: 10px; font-weight: 600; font-size: small; text-align: center;">
                                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
                                    ETH
                                  </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Action</a></li>
                                            <li><a class="dropdown-item" href="#">Another action</a></li>
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                        </ul>
                                    </li>
                                    <div class="confirm" style="margin-top: 10px;">
                                        <Button style="padding:10px 140px;  margin-bottom: 5px; border: none; border-radius: 10px; font-weight: 600; font-size: small; text-align: center; text-decoration: none;"><a href="#" style="text-decoration: none; color: black;">Apply</a></Button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>

            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-12">
                        <div class="card" style="background-color:rgb(25, 28, 31);">
                            <img src="Image/OUG/tranh 2.jfif" class="" alt="">
                            <div class="card-body">
                                <h5 class="card-title" style="color: white;">Card title</h5>
                                <p class="card-text" style="margin: 0; color: white;">aaaaaaaa.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-12">
                        <div class="card" style="background-color:rgb(25, 28, 31);">
                            <img src="Image/OUG/tranh 2.jfif" class="" alt="">
                            <div class="card-body">
                                <h5 class="card-title" style="color: white;">Card title</h5>
                                <p class="card-text" style="margin: 0; color: white;">aaaaaaaa.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-12">
                        <div class="card" style="background-color:rgb(25, 28, 31);">
                            <img src="Image/OUG/tranh 2.jfif" class="" alt="">
                            <div class="card-body">
                                <h5 class="card-title" style="color: white;">Card title</h5>
                                <p class="card-text" style="margin: 0; color: white;">aaaaaaaa.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-12">
                        <div class="card" style="background-color:rgb(25, 28, 31);">
                            <img src="Image/OUG/tranh 2.jfif" class="" alt="">
                            <div class="card-body">
                                <h5 class="card-title" style="color: white;">Card title</h5>
                                <p class="card-text" style="margin: 0; color: white;">aaaaaaaa.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-12">
                        <div class="card" style="background-color:rgb(25, 28, 31);">
                            <img src="Image/OUG/tranh 2.jfif" class="" alt="">
                            <div class="card-body">
                                <h5 class="card-title" style="color: white;">Card title</h5>
                                <p class="card-text" style="margin: 0; color: white;">aaaaaaaa.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-12">
                        <div class="card" style="background-color:rgb(25, 28, 31);">
                            <img src="Image/OUG/tranh 2.jfif" class="" alt="">
                            <div class="card-body">
                                <h5 class="card-title" style="color: white;">Card title</h5>
                                <p class="card-text" style="margin: 0; color: white;">aaaaaaaa.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-12">
                        <div class="card" style="background-color:rgb(25, 28, 31);">
                            <img src="Image/OUG/tranh 2.jfif" class="" alt="">
                            <div class="card-body">
                                <h5 class="card-title" style="color: white;">Card title</h5>
                                <p class="card-text" style="margin: 0; color: white;">aaaaaaaa.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-12">
                        <div class="card" style="background-color:rgb(25, 28, 31);">
                            <img src="Image/OUG/tranh 2.jfif" class="" alt="">
                            <div class="card-body">
                                <h5 class="card-title" style="color: white;">Card title</h5>
                                <p class="card-text" style="margin: 0; color: white;">aaaaaaaa.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-12">
                        <div class="card" style="background-color:rgb(25, 28, 31);">
                            <img src="Image/OUG/tranh 2.jfif" class="" alt="">
                            <div class="card-body">
                                <h5 class="card-title" style="color: white;">Card title</h5>
                                <p class="card-text" style="margin: 0; color: white;">aaaaaaaa.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-12">
                        <div class="card" style="background-color:rgb(25, 28, 31);">
                            <img src="Image/OUG/tranh 2.jfif" class="" alt="">
                            <div class="card-body">
                                <h5 class="card-title" style="color: white;">Card title</h5>
                                <p class="card-text" style="margin: 0; color: white;">aaaaaaaa.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-12">
                        <div class="card" style="background-color:rgb(25, 28, 31);">
                            <img src="Image/OUG/tranh 2.jfif" class="" alt="">
                            <div class="card-body">
                                <h5 class="card-title" style="color: white;">Card title</h5>
                                <p class="card-text" style="margin: 0; color: white;">aaaaaaaa.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-12">
                        <div class="card" style="background-color:rgb(25, 28, 31);">
                            <img src="Image/OUG/tranh 2.jfif" class="" alt="">
                            <div class="card-body">
                                <h5 class="card-title" style="color: white;">Card title</h5>
                                <p class="card-text" style="margin: 0; color: white;">aaaaaaaa.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-12">
                        <div class="card" style="background-color:rgb(25, 28, 31);">
                            <img src="Image/OUG/tranh 2.jfif" class="" alt="">
                            <div class="card-body">
                                <h5 class="card-title" style="color: white;">Card title</h5>
                                <p class="card-text" style="margin: 0; color: white;">aaaaaaaa.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-12">
                        <div class="card" style="background-color:rgb(25, 28, 31);">
                            <img src="Image/OUG/tranh 2.jfif" class="" alt="">
                            <div class="card-body">
                                <h5 class="card-title" style="color: white;">Card title</h5>
                                <p class="card-text" style="margin: 0; color: white;">aaaaaaaa.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-12">
                        <div class="card" style="background-color:rgb(25, 28, 31);">
                            <img src="Image/OUG/tranh 2.jfif" class="" alt="">
                            <div class="card-body">
                                <h5 class="card-title" style="color: white;">Card title</h5>
                                <p class="card-text" style="margin: 0; color: white;">aaaaaaaa.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-12">
                        <div class="card" style="background-color:rgb(25, 28, 31);">
                            <img src="Image/OUG/tranh 2.jfif" class="" alt="">
                            <div class="card-body">
                                <h5 class="card-title" style="color: white;">Card title</h5>
                                <p class="card-text" style="margin: 0; color: white;">aaaaaaaa.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-12">
                        <div class="card" style="background-color:rgb(25, 28, 31);">
                            <img src="Image/OUG/tranh 2.jfif" class="" alt="">
                            <div class="card-body">
                                <h5 class="card-title" style="color: white;">Card title</h5>
                                <p class="card-text" style="margin: 0; color: white;">aaaaaaaa.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-12">
                        <div class="card" style="background-color:rgb(25, 28, 31);">
                            <img src="Image/OUG/tranh 2.jfif" class="" alt="">
                            <div class="card-body">
                                <h5 class="card-title" style="color: white;">Card title</h5>
                                <p class="card-text" style="margin: 0; color: white;">aaaaaaaa.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-12">
                        <div class="card" style="background-color:rgb(25, 28, 31);">
                            <img src="Image/OUG/tranh 2.jfif" class="" alt="">
                            <div class="card-body">
                                <h5 class="card-title" style="color: white;">Card title</h5>
                                <p class="card-text" style="margin: 0; color: white;">aaaaaaaa.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-12">
                        <div class="card" style="background-color:rgb(25, 28, 31);">
                            <img src="Image/OUG/tranh 2.jfif" class="" alt="">
                            <div class="card-body">
                                <h5 class="card-title" style="color: white;">Card title</h5>
                                <p class="card-text" style="margin: 0; color: white;">aaaaaaaa.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>

</body>

</html>